*{
  box-sizing: border-box;
}

/* .App {
  background-color: darksalmon;
} */

.form_container , .displayData{
  background-color: darkseagreen;
  margin: 5% 0 0 10%;
}

.form_container {
  width: 40%;
  padding: 5%;
}
.displayData {
  width: 20%;
  padding: 2%;
  height: fit-content;
}
